<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hibare.imagebutton">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="ABC"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".a" />
        <activity android:name=".b" />
        <activity android:name=".c" />
        <activity android:name=".d" />
        <activity android:name=".e" />
        <activity android:name=".f" />
        <activity android:name=".g" />
        <activity android:name=".h" />
        <activity android:name=".i" />
        <activity android:name=".j" />
        <activity android:name=".k" />
        <activity android:name=".l" />
        <activity android:name=".m" />
        <activity android:name=".n" />
        <activity android:name=".o" />
        <activity android:name=".p" />
        <activity android:name=".q" />
        <activity android:name=".rs" />
        <activity android:name=".s" />
        <activity android:name=".t" />
        <activity android:name=".u" />
        <activity android:name=".v" />
        <activity android:name=".w" />
        <activity android:name=".x" />
        <activity android:name=".y" />
        <activity android:name=".z" />
        <activity android:name=".MainActivity" ></activity>
    </application>

</manifest>